<div class="row>">
  <div class="col-xs-12">
    <h2>Log in</h2>

    <form action="/login" accept-charset="UTF-8" method="post">
      <div class="field">
        <label> Name or Email </label><br/>
        <input type="text" class="form-control" name="email" autofocus></input>
        <br>
      </div>
      <div class="actions">
        <button class="btn btn-primary"> Log in </button>
      </div>
    </form>

  </div>
</div>
